p{
    border: grey 4px solid;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;

}
img{
    border: grey 4px solid;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
}
p#uno{
    top: 85px;
    
}

img#cinco{
    right: 330px;
}

p.dos{   
    width: 225px;
    height: auto;
    top: 150px;
}
img#uno{
    top: 140px;
    left: 245px;
    z-index: 0;
}
img#dos{ 
    top: 140px;
    left: 328px;
    z-index: 1;
}
p#tres{  
    width: 250px; 
    left: 10px;
    height: 125px;
    bottom: 145px;
    z-index: 1;

    
}
img#tres{
    width: 250px;
    height: 250px;
    top: 290px;
    left: 245px;
    z-index: 0;
}
p#cuatro{
    width: 250px;
    left: 55px;
    
    height: 125px;
    bottom: 35px;
    z-index: 1;
    
}
p#cinco{
    border: green 4px solid;
    box-sizing: content-box;
    width: 250px;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 125px;
    margin: 0%;
    padding: 0%;
    
}
p#seis{
    width: 250px;
    left: 55px;
    
    height: 125px;
    bottom: 145px;
    left: 515px;
}